---
import "./StrengthCard.css";
import type { StrengthItem } from "../content/types";

interface Props {
  item: StrengthItem;
}

const { item } = Astro.props;
---

<article class="strength-card reveal">
  <h3>{item.title}</h3>
  <p>{item.description}</p>
</article>
